@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;

    ViewData["userName"] = @Model._commonUser.UserName;
    var id = @Model._commonUser.Id;
    ViewData["userId"] = id;

    var _invisible = @Model.isSU ? "invisible" : "";
}

<partial name="~/Pages/Shared/_statusMessage.cshtml" model="@Model._statusMessage" />

<div class="container-fluid px-0">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="pb-0 mb-0">@ViewData["Title"]</h4>
            <form id="change-password-form" method="post"
                  class="px-0 py-1">
                <div asp-validation-summary="All" class="text-danger"></div>
                @if (!@Model.isSU)
                {
                    <div class="form-group @_invisible mb-2">
                        <label class="form-label" asp-for="Input.OldPassword"></label>
                        <input asp-for="Input.OldPassword" class="form-control" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                }
                <div class="form-group mb-2">
                    <label class="form-label" asp-for="Input.NewPassword"></label>
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label class="form-label" asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group mx-2"></div>
                <button type="submit" class="btn form-button btn-primary"
                        asp-route-id="@ViewData["userId"]">
                    Update password
                </button>
            </form>
        </div>
    </div>
</div>

