@model MTF.Areas.Logging.Pages.ClaimsLogModel

@{  var NavHeight = MTF.GlobalParameters.NavbarHeight;
    var baseColor = MTF.GlobalParameters._baseColor;
    var prevDisabled = !(@Model._invariants.PageIndex > 1) ? "disabled-link text-muted" : "text-primary text-darken";
    var nextDisabled = !(@Model._invariants.PageIndex < Model._invariants.TotalPages) ? "disabled-link text-muted" : "text-primary text-darken";

    var invSortDirection = @Model._invariants.SortDirection ?? "_desc";
    invSortDirection = invSortDirection == "_desc" ? "_" : "_desc";

    var gpaps = MTF.GlobalParameters.AvailablePageSizes;
}

<nav id="pageBarBottom" class="navbar navbar-expand fixed-bottom" style="z-index: 2048;">
    <div class="container-fluid d-flex justify-content-between">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#cssp-01"
                aria-controls="cssp-01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars fa-lg"></span>
        </button>
        <div class="collapse navbar-collapse" id="cssp-01">
            <div class="form-inline text-black" name="searchFooter-cln" id="searchFooter-cln">
                <div class="md-form">
                    <span class="text-th me-2">
                        Page:
                    </span>
                    <input class="select-box-btm page-num text-end me-2"
                            name="pageIndexA" id="pageIndexA"
                            asp-for="@Model._invariants.PageIndex" type="number" min="1" step="1" max="@Model._invariants.TotalPages"
                            onchange="_submit_pageIndexA(event)" />
                    <script>
                        function _submit_pageIndexA(event) {
                           var ref = '/Logging/ClaimsLog?workFlowId=@Model._invariants.WorkFlowId'
                                   + '&pageIndex='
                                   + document.getElementById("pageIndexA").value;
                            window.location.href = ref;
                        }
                    </script>
                    <span class="text-th me-2">
                        Of @Model._invariants.TotalPages
                    </span>
                    <span class="text-th me-2">
                        @Html.DisplayFor(model => Model.PagingNotification)
                    </span>
                    <span class="text-th me-1">
                        by
                    </span>
                    <select class="select-box-btm me-2"
                            name="pageSize" id="pageSize"
                            asp-for="@Model._invariants.PageSize" asp-items="@gpaps"
                            onchange="_submit_pageSize_cln(event)">
                    </select>
                    <script>
                        function _submit_pageSize_cln(event) {
                            var ref = '/Logging/ClaimsLog?workFlowId=@Model._invariants.WorkFlowId'
                                    + '&pageIndex=1'
                                    + '&pageSize='
                                    + document.getElementById("pageSize").value;
                            window.location.href = ref;
                        }
                    </script>
                    <span class="text-th">
                        p/p
                    </span>
                </div>
            </div>
        </div>
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item">
                <a class="nav-link me-1 @prevDisabled"
                    asp-page="./ClaimsLog"
                    asp-route-workFlowId="@Model._invariants.WorkFlowId"
                    asp-route-pageIndex="1">
                    <span class="fas fa-fast-backward fa-lg "></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link me-1 @prevDisabled"
                    asp-page="./ClaimsLog"
                    asp-route-workFlowId="@Model._invariants.WorkFlowId"
                    asp-route-pageIndex="@(Model._invariants.PageIndex - 1)">
                    <span class="fas fa-backward fa-lg "></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link me-1 @nextDisabled"
                    asp-page="./ClaimsLog"
                    asp-route-workFlowId="@Model._invariants.WorkFlowId"
                    asp-route-pageIndex="@(Model._invariants.PageIndex + 1)">
                    <span class="fas fa-forward fa-lg "></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link me-1 @nextDisabled"
                    asp-page="./ClaimsLog"
                    asp-route-workFlowId="@Model._invariants.WorkFlowId"
                    asp-route-pageIndex="@(Model._invariants.TotalPages)">
                    <span class="fas fa-fast-forward fa-lg "></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
